<?php
session_start(); 

$fnameerr = isset($_SESSION["fnameerr"]) ? $_SESSION["fnameerr"] : '';
$lnameerr = isset($_SESSION["lnameerr"]) ? $_SESSION["lnameerr"] : '';
$emailerr = isset($_SESSION["emailerr"]) ? $_SESSION["emailerr"] : '';
$phoneerr = isset($_SESSION["phoneerr"]) ? $_SESSION["phoneerr"] : '';
$messageerr = isset($_SESSION["messageerr"]) ? $_SESSION["messageerr"] : '';

unset($_SESSION["fnameerr"]);
unset($_SESSION["lnameerr"]);
unset($_SESSION["emailerr"]);
unset($_SESSION["phoneerr"]);
unset($_SESSION["messageerr"]);
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Library</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
</head>
<body>
<section>
    
    <div class="navbar">
        <nav>
            <ul>
                <img src="#" alt="Logo" class="logo">
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Screens</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Movie Library</a></li>
                <li><a href="#">Location & Contact</a></li>
                <li><a href="#" class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a></li>
            </ul>
        </nav>
    </div>

   
    <header>
        <img src="../img/headerimage.jpg" alt="image" class="headerimg">
    </header>

    
    <div class="intro">
        <p>Movies Library</p>
        <p class="pa">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>

    
    <div class="movies">
        <div class="collect">
            <p class="movfav">Collect Your Favourites</p>
            <input type="search" placeholder="Search Your Favourite Movies" id="filterinput" class="searchbar">
            <div class="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path d="M15.7 14.3c-1.5 1.2-3.4 1.8-5.5 1.8-4.1 0-7.5-3.4-7.5-7.5s3.4-7.5 7.5-7.5 7.5 3.4 7.5 7.5c0 2.1-.8 4-2.1 5.5l5.4 5.4-1.4 1.4-5.4-5.4zM10 15c2.8 0 5-2.2 5-5s-2.2-5-5-5-5 2.2-5 5 2.2 5 5 5z"/>
                </svg>
            </div>
        </div>
    </div>

    
    <div class="moivecoll">
        <div class="frame1">
            <img src="../img/batman.jpg" alt="image" class="headerimg" width="427px" height="606px">
            <p>Batman Returns</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut…</p>
        </div>
        <div class="frame2">
            <img src="../img/wild.jpg" alt="image" class="headerimg" width="427px" height="606px">
            <p>Wild Wild West</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut…</p>
        </div>
        <div class="frame3">
            <img src="../img/spiderman.jpg" alt="image" class="headerimg" width="427px" height="606px">
            <p>The Amazing Spiderman</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut…</p>
        </div>
    </div>


    
    <div class="movie-grid" id="movieGrid"></div>

    <div class="contact">
        <p>How To Reach Us</p>
        <form action="your_php_backend.php" method="post">
                <div class="contactlist">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Your First Name" value="<?php echo isset($_POST['firstname']) ? $_POST['firstname'] : ''; ?>">
                    <?php if (!empty($fnameerr)): ?>
                        <span style="color: red;"><?php echo $fnameerr; ?></span>
                    <?php endif; ?>
                </div>

                <div class="contactlist">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Your Last Name" value="<?php echo isset($_POST['lastname']) ? $_POST['lastname'] : ''; ?>">
                    <?php if (!empty($lnameerr)): ?>
                        <span style="color: red;"><?php echo $lnameerr; ?></span>
                    <?php endif; ?>
                </div>

                <div class="contactlist">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : ''; ?>">
                    <?php if (!empty($emailerr)): ?>
                        <span style="color: red;"><?php echo $emailerr; ?></span>
                    <?php endif; ?>
                </div>

                <div class="contactlist">
                    <label for="telephone">Telephone</label>
                    <input type="tel" id="telephone" name="telephone" placeholder="Your Telephone" value="<?php echo isset($_POST['telephone']) ? $_POST['telephone'] : ''; ?>">
                    <?php if (!empty($phoneerr)): ?>
                        <span style="color: red;"><?php echo $phoneerr; ?></span>
                    <?php endif; ?>
                </div>

                <div class="contactlist">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Your Message"><?php echo isset($_POST['message']) ? $_POST['message'] : ''; ?></textarea>
                    <?php if (!empty($messageerr)): ?>
                        <span style="color: red;"><?php echo $messageerr; ?></span>
                    <?php endif; ?>
                </div>

                <div class="contactlist">
                    <button type="submit">Submit</button>
                </div>
            </form>
    </div>


    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.3812075643614!2d79.9404323!3d6.844821199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25069caa2f53b%3A0xe7eae3a8b1f1214d!2seBEYONDS%20eBusiness%20%26%20Digital%20Solutions!5e0!3m2!1sen!2slk!4v1733909471329!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<script>
    const apiKey = 'http://www.tvmaze.com/api'; 
    const movieGrid = document.getElementById('movieGrid');
    const filterInput = document.getElementById('filterinput');

    async function fetchMovies(query = '') {
        const url = `https://api.themoviedb.org/3/search/movie?api_key=${apiKey}&query=${query}&page=1`;
        const response = await fetch(url);
        const data = await response.json();
        displayMovies(data.results);
    }

    function displayMovies(movies) {
        movieGrid.innerHTML = '';  
        movies.forEach(movie => {
            const movieItem = document.createElement('div');
            movieItem.classList.add('movie-item');

            const imgSrc = movie.poster_path ? `https://image.tmdb.org/t/p/w500${movie.poster_path}` : '../img/placeholder.jpg';
            movieItem.innerHTML = `
                <img src="${imgSrc}" alt="${movie.title}">
                <p>${movie.title}</p>
                <p>${movie.overview.substring(0, 100)}...</p>
            `;

            movieGrid.appendChild(movieItem);
        });
    }

    
    filterInput.addEventListener('input', function () {
        const query = filterInput.value;
        fetchMovies(query);
    });

    fetchMovies();

</script>

</body>
</html>
